<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jeremyfryd.housemates">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/house"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Default">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBW9BO16ICmTdvqMYeD29jIVPkcCcZZcGM" />
        <!-- TODO hide this^ in production -->

        <activity android:name=".ui.MainActivity"
            android:theme="@style/NoActionBarTheme"/>
        <activity android:name=".ui.CreateAccountActivity"
            android:theme="@style/NoActionBarTheme"/>
        <activity android:name=".ui.LoginActivity"
            android:theme="@style/NoActionBarTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.NewHouseActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jeremyfryd.housemates.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.UseCodeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jeremyfryd.housemates.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.GetCodeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jeremyfryd.housemates.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.NavActivity"
            android:label="@string/title_activity_nav"
            android:theme="@style/NoActionBarTheme"/>
    </application>

</manifest>